.ebp-custom-grid-1-row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: auto;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

.ebp-custom-grid-1-container{
  padding-inline: 1rem;
}

/* .ebp-custom-grid-1-row > div{
    height: 300px;
} */

.ebp-custom-grid-1-col,
.ebp-custom-grid-1-item,
.ebp-custom-grid-1-item-image, 
.ebp-custom-grid-1-item-image img{
    height: 100% !important;
    width: 100%;;
    object-fit: cover;
}



.ebp-custom-grid-1-row > a:nth-child(1) {
  grid-column: 1 / 7;
  grid-row: 1 / 3;
}

.ebp-custom-grid-1-row > a:nth-child(2) {
grid-column: 7 / -1;
  grid-row: 1 / 3;
}

.ebp-custom-grid-1-row > a:nth-child(3) {
 grid-column: 1 / 8;
 grid-row: 3 / 5;
}

.ebp-custom-grid-1-row > a:nth-child(4) {
 grid-column: 8 / -1;
 grid-row: 3 / 4;
}

.ebp-custom-grid-1-row > a:nth-child(5) {
 grid-column: 8 / -1;
 grid-row: 4 / 6;
}

.ebp-custom-grid-1-row > a:nth-child(6) {
grid-column: 1 / 8;
grid-row: 5 / 6;
}

.ebp-custom-grid-1-row > a:nth-child(7) {
 grid-column: 1 / 7;
 grid-row: 6 / 7;
}

.ebp-custom-grid-1-row > a:nth-child(8) {
 grid-column: 7 / -1;
 grid-row: 6 / 7;
}

.ebp-custom-grid-1-row > a:nth-child(9) {
grid-column: 1 / 4;
grid-row: 7 / 8;
}

.ebp-custom-grid-1-row > a:nth-child(10) {
 grid-column: 4 / -1;
 grid-row: 7 / 8;
}

.ebp-custom-grid-1-col .ebp-custom-grid-1-item-title{
  opacity: 0;
  transform: translateY(0);
  transition: all 0.3s ease-in-out;
  color: var(--white);
  font-weight: 700;
  padding-inline-start: 1rem;
}

.ebp-custom-grid-1-col:hover .ebp-custom-grid-1-item-title{
  opacity: 1;
  transform: translateY(-300%);
  transition: all 0.3s ease-in-out;
}

.ebp-custom-grid-1-col .ebp-custom-grid-1-item-image{
  transition: all 0.3s ease-in-out;
  position: relative;
}

.ebp-custom-grid-1-col:hover .ebp-custom-grid-1-item-image{
  rotate: -5deg;
  transition: all 0.3s ease-in-out;
  transform: scale(1.05);
}

.ebp-custom-grid-1-item-image:before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--black);
  opacity: 0.3;

}