/* EBP Projects Slider 1 – cube effect container and slide styling */

.ebp-projects-slider-1 {
  position: relative;
}

.ebp-projects-slider-1 .ebp-projects-slider-1-swiper {
  height: 90vh;
  width: 100%;
}

@media (min-width: 768px) {
  /* Swiper cube needs a fixed aspect ratio / height; adjust to suit your design */
  .ebp-projects-slider-1 .ebp-projects-slider-1-swiper {
    height: 90vh;
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    aspect-ratio: 1;
  }
}

.ebp-projects-slider-1 .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
}

.ebp-projects-slider-1-slide-inner {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.ebp-projects-slider-1 .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Navigation – custom arrow (aof-arrow.svg, points right) */
.ebp-projects-slider-1 .swiper-button-prev::after,
.ebp-projects-slider-1 .swiper-button-next::after {
  content: none;
}
.ebp-projects-slider-1 .swiper-button-prev,
.ebp-projects-slider-1 .swiper-button-next {
  color: #fff;
  width: 44px;
  height: 44px;
  background-image: url("http://all-our-friends-2.local/wp-content/uploads/2026/01/aof-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
/* Previous = same arrow flipped left */
.ebp-projects-slider-1 .swiper-button-prev {
  transform: scaleX(-1);
}

.swiper-button-next {
  margin-inline-end: -5rem !important;
}
.swiper-button-prev {
  margin-inline-start: -5rem !important;
}

.swiper-pagination-bullet-active {
  background: #fff;
}
