.e-con.e-parent {
  width: 100% !important;
  padding: 0 !important;
}

.e-con > .e-con-inner, .e-con.e-flex>.e-con-inner {
  padding-inline: 0rem !important;
}

.elementor-location-header {
  position: fixed;
  top: 0;
  width: 100%;
}

@media (max-width: 991px) {
  .e-con > .e-con-inner {
  padding-inline: 1rem !important;
}
}