:root {
  /* Spacing variables for margins and padding */
  --spacing-sm: 1rem;
  --spacing-md: 2rem;
  --spacing-lg: 3rem;
  --black: #000000;
  --white: #fcf7ed;
  --yellow: #f0f951;
  --font-primary: space-mono, mono;
  --font-secondary: nimbus-sans-condensed, sans-serif;
}

body {
  font-family: var(--font-primary);
  background-color: #000;
  color: var(--white);
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-secondary);
}


.d-none{
  display: none;
}